name: Markdown to HTML
on: [push]
  
jobs:
  build:
    runs-on: ubuntu-latest
      - uses: lifepal/markdown-to-html@v1.2
      - name: Upload Documentation to Wiki
        uses: SwiftDocOrg/github-wiki-publish-action@v1
        with:
          path: "Documentation"
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      
